{{> header }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod pariatur nihil nulla deleniti explicabo velit
            accusamus provident architecto ab, iure maxime et dolorem sint quas reiciendis voluptates adipisci quae
            excepturi!
            Ea, deserunt. Fugit harum labore possimus vitae rerum ea illo quas qui recusandae quod ipsam, magnam a
            corrupti architecto. Enim pariatur blanditiis debitis, reprehenderit tenetur reiciendis magni consequatur
            maxime ducimus!
            Optio animi possimus reprehenderit, ducimus quisquam ex culpa mollitia, porro ad molestias iste, at labore
            architecto esse id incidunt dignissimos dicta. Obcaecati, odio ullam quam vitae saepe quasi minus ut?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/images/heroes.png" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer}}